



















































/* login form in the navbar */
#login-form {
    display: inline-block;
    float: right;
    padding: 0.8rem;
    margin-right: 8rem;
    background-color: #3C5997;
}


/* email text box in the navbar */
#email {
    border-radius: 8%;
    background-color: #FFF;
    font-family: Arial, sans-serif;
    height: 2rem;
    box-shadow: none;
}


/* password text box in the navbar */
#password {
    border-radius: 8%;
    background-color: #FFF;
    font-family: Arial, sans-serif;
    height: 2rem;
}


/* login submit button in the navbar */
#login {
    border-radius: 10%;
    background-color: #FFF;
    font-family: Arial, sans-serif;
    height: 2rem;
    font-size: 0.7rem;
}