/* .header will go here background-color: #4267B2;
color: #fff;
padding: 10px 20px;
font-size: */
/*.nav bar here*/

.content {
    padding: 20px;
}

.tsandcs {
    font-size: #898F9C;
    padding: 10px;
    margin-bottom: 20px;
}

.post {}

.button {
    color: #00FF00;
}