/* 


















 */


section {
    font-family: Arial, sans-serif;
    margin-left: 50%;
}

input {
    border-radius: 10px, 10px, 10px, 10px;
    margin: 40px;
}

[type="radio"] {
    font-weight: 300;
}

p.last {
    color: #898F9C;
    padding: 10px;
    margin: 20px;
}

[type="submit"] {
    background-color: #359552;
    font-weight: bold;
    font-size: large;
    color: white;
    text-align: center;
    width: 200px;

}