 


















 


section {
    font-family: Arial, sans-serif;
    margin-left: 50%;
}

[type="radio"] {
    font-weight: 300;
}

p.last {
    color: #898F9C;
    padding: 10px;
    margin-bottom: 20px;
}

[type="submit"] {
    background-color: #359552;
    font-weight: bold;
    font-size: large;
    color: white;
}
